body {
    background-image: url('images/gradient.jpg');
    background-size: auto;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
} 

.banner {
    background-color: #1a1a1a; /* Match the container's background color */
    color: #ffffff; /* Text color for the banner */
    text-align: center; /* Center-align the text */
    padding: 10px; /* Add some padding for spacing */
    font-size: 24px; /* Adjust the font size */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 20px; /* Add margin to separate it from the content below */
}

.container {
    background-color: #1a1a1a; /* Slightly lighter background for the container */
    padding: 20px;
    border-radius: 5px;
}

.form-control {
    background-color: #2b2b2b; /* Dark input fields */
    color: #ffffff; /* Light text color for input fields */
    border: 1px solid #424242; /* Slightly lighter border */
}

.form-control:focus {
    background-color: #2b2b2b; /* Dark background color on input focus */
    color: #ffffff; /* Light text color for input fields */
}

.form-select {
    background-color: #2b2b2b; /* Dark select boxes */
    color: #ffffff; /* Light text color for select options */
    border: 1px solid #424242; /* Slightly lighter border */
}

.form-label {
    color: #ffffff; /* Light label text color */
}

/* Optional: Style select options */
select option {
    background-color: #2b2b2b; /* Dark select options */
    color: #ffffff; /* Light text color for select options */
}

[readonly] {
    color: #a9a9a9; /* Light gray color for readonly text */
}

#costEstimate {
    height: 150px; /* Adjust the height to your preference */
    white-space: pre-line;
    overflow: auto;
}

.nav-tabs {
    background-color: #1a1a1a; /* Background color for tabs */
    border: 0px solid #424242; /* Border color for tabs */
    border-bottom: 1px solid #424242; /* Border color for tabs */
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    background-color: #1a1a1a; /* Dark tab background color */
    color: #ffffff; /* Light text color for tabs */
    border: 1px solid #424242; /* Border for tabs */
    border-radius: 5px 5px 0 0;
}

.nav-tabs .nav-link.active {
    background-color: #2b2b2b; /* Background color for the active tab */
    color: #ffffff; /* Text color for the active tab */
    border: 1px solid #424242; /* Border for the active tab */
    border-radius: 5px 5px 0 0;
}